<footer>
    <nav>
        <ul class="termos_LGPD">
            <li>Termos e Condições</li>
            <li>Politica de Privacidade</li>
        </ul>
    </nav>
    <div class="redes_Sociais">
        <img class="icon-footer" src="/dist/assets/img/mdi_instagram.png" alt="logo-insta">
        <img class="icon-footer" src="/dist/assets/img/mdi_youtube.png" alt="logo-youtube">
        <img class="icon-footer" src="/dist/assets/img/fe_facebook.png" alt="logo-facebook">
    </div>
    <img class="logo-footer" src="/dist/assets/img/Logo-final.png" alt="Logo">
</footer>