@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

footer {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}

.termos_LGPD {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    align-items: center;
    background: #FFF;
}

ul {
    font-family: "IBM Plex Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    list-style: none;
}

li {
    display: flex;
    flex-direction: row;
}

img {
    display: flex;
    width: 200px;
    height: 50px;  
    justify-content: flex-end;
}

/*display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 0.2px rgba(0, 0, 0, 0.2);
    background: #FFF;
    box-shadow: 0 2px 2px 0 rgba(115, 80, 158, 0.15);
    padding: 1rem;*/



